.imagen {
  float: right;
  position:relative; top:-400px;
  right:250px;
}
.margenes {
  margin-left: 22%;
  margin-right: auto;
}
.textotop  {
  color: pink;
}
.header {
  h2 {
    color: pink;
    position: relative;top:300px;
    right: -10%;
  }
}
